*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    background-color: rgb(81, 42, 255);
    width: 250px;
    height: 780px;
    padding: 10px;
    align-items: center;
    text-align: center;
    color : white;
    position: fixed;
    left :0;
}

.imgPerson
{
    width: 150px;
    height: 150px;
    
}

.topBanner
{
    padding-top: 20px;
    text-align: right;
    width:fit-content;
    padding-right: 15px;
    font-size: large;
    float : right;
    vertical-align: middle;
    right: 0;

}

.topBanner h3
{
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    
}

.bannerLogo
{
    width: 50px;
    height: 50px;
    float: left;
}

.facultyinfo p
{
    line-height: 1.5;
    margin-bottom: 60px;
}

.blueFont
{
    color : rgb(72, 72, 254)
}

.smallFont
{
    font-size: small;
}

.boldFont
{
    font-weight: bold;
}

.pageHeader
{
    border-bottom: 4px solid rgb(68, 62, 240);
    position: absolute;
    margin-left: 300px;
    
    width: fit-content;
    font-weight: bold;
    font-size:x-large;

}

.card
{
    width: 430px;
    height: 150px;
    margin-top: 150px;
    margin-left: 110px;
    display: inline-flex;
    background: #00ff62;
    border-radius: 30px;
    padding : 20px;
    
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;


}

.card1
{
    width: 430px;
    height: 150px;
    margin-top: 150px;
    margin-left: 110px;
    margin-right:110px;
    display: inline-flex;
    background: #9747FF;
    border-radius: 30px;
    padding : 20px;
    position: relative;
    
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;


    border-radius: 30px;
}

.headerBackground
{
    background: white;
}

.inline
{
    display: inline-flex;
}

.gap25
{
    width: 300px;
}

.fontSize4rem
{
    font-size: 6rem;
}

.content
{
    margin-left : 270px;
    display: inline-flex;
    
    
}
.content-paragraph
{
    margin-left: 275px;
    text-align: justify;
    padding-right: 15px;
}